.productsHeading{
    margin: 2vmax auto;
    width:15vw;
    border-bottom: 1px solid rgba(0,0,0,0.171);
    text-align: center;
    padding:2vmax;
    color:rgba(0,0,0,0.678);
    font:500 3vmax "Roboto";
    
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vmax;
}