.Banner {
  background-image: linear-gradient(to bottom, #1b2430, #2a3239),
    url("../../../image/background.jpeg");
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  & h1 {
    font-weight: 600;
    font-size: 2rem;
    margin: 5vmin;
  }
  & p {
    font-weight: 300;
    font-size: 2rem;
    margin: 3vmin;
  }
  & a {
    & button {
      margin-bottom: 5vmax;
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 0rem;
      padding: 1vmax;
      transition: all 0.5s;
      width: 9vmax;
      font: 500 1vmax;
    }
  }
  & a :hover {
    background-color: #ff7a00;
    color: white;
  }
}
.homeHeading {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}
.container {
  display: flex;
  margin: 2vmax auto;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .Banner h1 {
    margin: 3vh;
    font-size: 1rem;
  }

  .Banner p {
    margin: 1vh;
    font-size: 1rem;
  }

  .Banner a button {
    font-size: 0.7rem;
  }
}
