.homeUpper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .Banner {
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e4fdff;
    border-radius: 0 0 8rem 8rem;
    padding: 1rem;
    & h1 {
      font: 600 3rem "Montserrat";
      line-height: 6rem;
      letter-spacing: 0.8vh;
    }
    & p {
      font: 300 2rem "Montserrat";
      line-height: 6rem;
      letter-spacing: 0.8vh;
    }
    & img {
      // margin-top: 3vh;
      height: 40vh;
    }
  }
  & a {
    align-self: end;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    & button {
      cursor: pointer;
      background-color: #13aeb8;
      color: white;
      border: none;
      border-radius: 4vh;
      padding: 1.5rem;
      transition: all 0.5s;
      width: 35rem;
      font: 600 1.5rem "Montserrat";
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 3rem;
      }
    }
  }
  & a :hover {
    background-color: none;
  }
}
.homeHeading {
  text-align: center;
  font: 600 2rem "Montserrat";
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 6rem auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6vmax auto;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .homeUpper {
    height: 80vh;
    .Banner {
      height: 60vh;
      border-radius: 0 0 4rem 4rem;
      padding: 1rem;
      & h1 {
        font: 600 2rem "Montserrat";
        line-height: 3rem;
        letter-spacing: 0.8rem;
      }
      & p {
        font: 300 1rem "Montserrat";
        line-height: 2rem;
        letter-spacing: 0.8rem;
      }
      & img {
        height: 25vh;
      }
    }
    & a {
      & button {
        width: 21rem;
        font: 600 0.9rem "Montserrat";
        .icon {
          font-size: 1.8rem;
        }
      }
    }
    & a :hover {
      background-color: none;
    }
  }
  .container {
    width: 100%;
  }
}
