nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4fdff;
  padding: 2vh 2vw;
  .logo {
    flex: 0.5;
    .logo-img {
      height: 4rem;
      border-radius: 50%;
    }
  }
  .navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    overflow: hidden;
    flex: 3;
    ul {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-evenly;
      li {
        list-style: none;
        padding: 0 1.3rem;
        position: relative;

        a {
          text-decoration: none;
          font: 600 1.3rem "Montserrat";
          color: #000000;
          transition: 0.3s ease-in-out;
        }

        a:hover {
          color: #ff7a00;
          transition: 0.3s ease-in-out;
        }
        a::after {
          width: 0;
        }
      }
    }
  }
  .icons {
    flex: 0.5;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .iconsStyle {
      padding: 0 1vw;
      font-size: 2rem;
      color: #000000;
    }
    .iconsStyle:hover {
      color: #ff7a00;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
    .image {
      padding: 0 1vw;
      border-radius: 50%;
      height: 2rem;
    }
    .image:hover {
      cursor: pointer;
    }
  }

  .mobile {
    display: none;
  }
  @media screen and (max-width: 720px) {
    .navItems {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      position: fixed;
      top: 80px;
      right: -600px;
      width: 200px;
      height: 100vh;
      background-color: #e4fdff;
      box-shadow: 0px, 40px, 60px rgba(255, 255, 255, 0.7);
      transition: 0.5s ease-in-out;
      padding-left: 10px;

      ul {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        li {
          margin-top: 20px;
        }
      }
    }
    .icons {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: row;
      position: fixed;
      top: 300px;
      right: -600px;
      width: 200px;
      transition: 0.5s ease-in-out;
      padding-left: 10px;
    }
    .navItems.active,
    .icons.active {
      right: 0px;
      z-index: 100;
    }

    .mobile {
      display: block;
    }
  }
}
