.confirmOrderPage {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 6fr 4fr;
  > div:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.247);
  }
  .confirmShippingArea {
    padding: 5vmax;
    padding-bottom: 0%;
    > p {
      font: 400 2rem "Roboto";
    }
    .confirmShippingAreaBox {
      > div {
        display: flex;
        margin: 1vmax 0;
        > p {
          font: 400 1.1rem "Roboto";
          color: black;
        }
        > span {
          margin: 0 1vmax;
          font: 100 1.1rem "Roboto";
          color: #575757;
        }
      }
    }
  }
  .confirmCartItems {
    padding: 5vmax;
    padding-top: 2vmax;
    .confirmCartItemsBox {
      max-height: 20rem;
      overflow-y: auto;
      border: 1px solid rgba(0, 0, 0, 0.267);
      padding: 1rem;
      > div {
        display: flex;
        font: 400 1.1rem "Roboto";
        justify-content: space-between;
        align-items: center;
        margin: 2vmax 0;
        background-color: tomato;
        padding: 1rem;
        border-radius: 0.2rem;
        height: 4rem;
        > img {
          max-height: 5rem;
          max-width: 5rem;
        }
        > a {
          width: 30%;
          text-decoration: none;
          margin: 0 2vmax;
          color: rgb(66, 56, 56);
          font: 100 1.3rem "Roboto";
        }
        > span {
          font: 300 1rem "Roboto";
          color: #4e3d3d;
        }
      }
    }
  }
  .confirmShippingAreaBox,
  .confirmCartItemsBox {
    margin: 2vmax;
  }
  .orderSummary {
    padding: 7vmax;
    > p {
      text-align: center;
      font: 400 2rem "Roboto";
      border-bottom: 1px solid rgba(0, 0, 0, 0.267);
      margin: auto;
      box-sizing: border-box;
      padding: 1vmax;
      width: 100%;
    }
    > div > div {
      display: flex;
      justify-content: space-between;
      font: 300 1rem "Roboto";
      margin: 2vmax 0;
      > span {
        color: rgba(0, 0, 0, 0.692);
      }
    }
    .orderSummaryTotal {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.363);
      padding: 2vmax 0;
    }
    > button {
      border: none;
      background-color: tomato;
      color: rgb(236, 233, 233);
      font: 400 1rem "Roboto";
      width: 100%;
      padding: 0.8rem;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 0.2rem;
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    }
  }
}

@media screen and (max-width: 720px) {
  .confirmOrderPage {
    grid-template-columns: 1fr;
    height: unset;
    > div:last-child {
      border-left: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.247);
    }
    .confirmCartItems {
      padding: 5vmax;
      padding-top: 2vmax;
      .confirmCartItemsBox {
        border: 0;
        padding: 0;

        > div {
          display: flex;
          font: 400 1rem "Roboto";
          padding: 2vmax;
          border-radius: 0.4rem;
          > img {
            max-height: 3rem;
            max-width: 3rem;
          }
          > a {
            font: 400 1rem "Roboto";
          }
          > span {
            text-align: end;
            max-width: 30%;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
