.CartItemCard {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
  > img {
    margin: 0.5vh 0;
    width: 5vmax;
  }
  > div {
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
    > a {
      font: 300 0.9rem cursive;
      color: rgba(24, 24, 24, 0.815);
      text-decoration: none;
    }
    > span {
      font: 300 0.9rem "Roboto";
      color: rgba(24, 24, 24, 0.815);
    }
    > p {
      color: tomato;
      cursor: pointer;
      font: 100 0.8rem "Roboto";
    }
  }
}

@media screen and (max-width: 720px) {
  .CartItemCard {
    padding: 0.8rem;
    height: 20vmax;
    > img {
      width: 10vmax;
    }
    > div {
      margin: 1vmax 2vmax;
      > a {
        font: 300 1.2rem cursive;
      }
      > span {
        font: 300 1rem "Roboto";
      }
      > p {
        font: 100 1rem "Roboto";
      }
    }
  }
}
