.LoginContainer {
  width: 100vw;
  height: 100vmin;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  overflow: hidden;

  .LoginBox {
    padding: 3vh 0;
    background-color: white;
    width: 25vw;
    height: 25rem;
    box-sizing: border-box;
    overflow: hidden;

    .toggle {
      display: flex;
      height: 3vmax;
      > p {
        color: rgba(0, 0, 0, 0.678);
        font: 300 1.4vmax "Roboto";
        transition: all 0.5s;
        cursor: pointer;
        display: grid;
        place-items: center;
        width: 100%;
        &:hover {
          color: tomato;
        }
      }
    }
    > div > button {
      background-color: tomato;
      height: 3px;
      width: 50%;
      border: none;
      transition: al 0.5s;
    }
    .loginForm,
    .signUpForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: 1.5rem;
      justify-content: space-evenly;
      height: 15rem;
      transition: all 0.5s;
      > div {
        display: flex;
        width: 100%;
        align-items: center;
        > input {
          padding: 1vmax 4vmax;
          padding-right: 1vmax;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          border-radius: 4px;
          font: 300 0.9vmax cursive;
          outline: none;
        }
        > svg {
          position: absolute;
          transform: translateX(1vmax);
          font-size: 1.6vmax;
          color: rgba(0, 0, 0, 0.623);
        }
      }
      > a {
        color: rgba(0, 0, 0, 0.651);
        text-decoration: none;
        align-self: flex-end;
        transition: all 0.5s;
        font: 500 0.5rem "Roboto";
        &:hover {
          color: black;
        }
      }
      .loginBtn,
      .signUpBtn {
        border: none;
        background-color: tomato;
        color: white;
        font: 300 0.9vmax "Roboto";
        width: 100%;
        padding: 0.8vmax;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 4px;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
      }
    }

    #registerImage > img {
      width: 3vmax;
      border-radius: 100%;
      margin: 0 1vmax;
    }
    #registerImage > input {
      display: flex;
      padding: 0%;
    }

    #registerImage > input::file-selector-button {
      cursor: pointer;
      width: 100%;
      z-index: 2;
      height: 5vh;
      border: none;
      margin: 0%;
      font: 400 0.8vmax cursive;
      transition: all 0.5s;
      padding: 0 1vmax;
      color: rgba(0, 0, 0, 0.623);
      background-color: rgb(255, 255, 255);
    }

    #registerImage > input::file-selector-button:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}
.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}
.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 720px) {
  .loginBtn {
    color: red;
  }
  .LoginContainer {
    z-index: -1;
    .LoginBox {
      width: 90vw;
      height: 50vh;
      .toggle {
        height: 5vmax;
        > p {
          font: 300 2vmax "Roboto";
        }
      }
      .loginForm,
      .signUpForm {
        > a {
          font: 300 1.5vmax "Roboto";
        }
        > div {
          > input {
            padding: 1.3vmax 4vmax;
          }
        }

        .loginBtn,
        .signUpBtn {
          font: 300 1.2vmax "Roboto";
          padding: 1vmax;
        }
      }
    }

    #registerImage {
      > img {
        width: 8vmax;
        border-radius: 100%;
      }
      > input::file-selector-button {
        height: 7vh;
        font: 400 1.8vmax cursive;
      }
    }
  }
}
