.profile {
  & h1 {
    color: rgba(0, 0, 0, 0.555);
    font: 500 2.2vmax "Montserrat";
    text-align: center;
    width: 10%;
    margin: 2vh auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.222);
  }
  .profileContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;

    > div {
      display: flex; /* Corrected typo here */
      height: 80vh;
      width: 100vw;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-child {
        > img {
          max-width: 20vmax;
          border-radius: 100%;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.05);
          }
        }
        > a {
          border: none;
          border-radius: 8rem;
          background-color: #13aeb8;
          font: 400 1vmax "Montserrat";
          color: white;
          text-decoration: none;
          padding: 0.5vmax;
          width: 30%;
          margin: 3vmax;
          text-align: center;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.05);
            background-color: rgb(204, 78, 56);
          }
        }
      }
      &:last-child {
        padding: 5vmax;
        box-sizing: border-box;
        align-items: start;
        > div {
          margin: 3vh;
          > h4 {
            color: black;
            font: 400 1.2vmax "Montserrat";
          }
          > p {
            color: rgba(0, 0, 0, 0.418);
            font: 400 1vmax cursive;
          }
          &:last-child {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10%;
            width: 70%;
            > a {
              border: none;
              background-color: #13aeb8;
              font: 400 1vmax "Montserrat";
              color: white;
              text-decoration: none;
              padding: 0.5vmax;
              width: 12rem;
              margin: 1vmax 0;
              text-align: center;
              transition: all 0.5s;
              border-radius: 8rem;
              &:hover {
                transform: scale(1.05);
                background-color: tomato;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .profile {
    > h1 {
      font: 400 3vmax "Montserrat";
      width: 30%;
    }
    .profileContainer {
      flex-direction: column;
      > div {
        &:first-child {
          height: fit-content;

          > a {
            font: 400 1.7vmax "Montserrat";
            padding: 1vmax;
            margin-bottom: 1vmax;
          }
        }
        &:last-child {
          padding-top: 2vmax;
          text-align: center;
          align-items: center;
          > div {
            > h4 {
              font: 400 2.5vmax "Montserrat";
            }
            > p {
              font: 400 2vmax cursive;
            }
            &:last-child {
              justify-content: center;
              align-items: center;
              > a {
                font: 400 1.7vmax "Montserrat";
                padding: 1vmax;
                margin: 2vmax 0;
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
