.updateProfileContainer {
  width: 100vw;
  height: 100vmin;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  overflow: hidden;

  .updateProfileBox {
    padding: 1rem 0;
    background-color: white;
    width: 25rem;
    height: 28rem;
    box-sizing: border-box;
    overflow: hidden;
    .updateProfileHeading {
      text-align: center;
      color: rgba(0, 0, 0, 0.664);
      font: 400 1.7rem "Montserrat";
      padding: 1.3vmax;
      border-bottom: 1px solid rgba(0, 0, 0, 0.205);
      width: 50%;
      margin: auto;
    }

    .updateProfileForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: 1rem;
      justify-content: space-evenly;
      height: 70%;
      transition: all 0.5s;
      > div {
        display: flex;
        width: 100%;
        align-items: center;
        > input {
          padding: 1rem 2.5rem;
          padding-right: 3rem;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          border-radius: 4px;
          font: 300 1rem cursive;
          outline: none;
        }
        > svg {
          position: absolute;
          transform: translateX(0.7rem);
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.623);
        }
      }
      > a {
        color: rgba(0, 0, 0, 0.651);
        text-decoration: none;
        align-self: flex-end;
        transition: all 0.5s;
        font: 500 1rem "Montserrat";
        &:hover {
          color: black;
        }
      }
      .updateProfileBtn {
        border: none;
        background-color: #13aeb8;
        color: white;
        font: 300 1rem "Montserrat";
        width: 100%;
        padding: 0.8rem;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 8rem;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
      }
    }

    #updateProfileImage > img {
      width: 3rem;
      border-radius: 100%;
      margin: 0 1rem;
    }
    #updateProfileImage > input {
      display: flex;
      padding: 0%;
    }

    #updateProfileImage > input::file-selector-button {
      cursor: pointer;
      width: 100%;
      z-index: 2;
      height: 2.5rem;
      border: none;
      margin: 0%;
      font: 400 1rem cursive;
      transition: all 0.5s;
      padding: 0 1rem;
      color: rgba(0, 0, 0, 0.623);
      background-color: rgb(255, 255, 255);
    }

    #updateProfileImage > input::file-selector-button:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}

@media screen and (max-width: 720px) {
  .updateProfileBtn {
    color: red;
  }
  .updateProfileContainer {
    z-index: -1;
    .updateProfileBox {
      width: 100vw;
      height: 20rem;
      .updateProfileForm {
        > a {
          font: 300 1rem "Montserrat";
        }
        > div {
          > input {
            padding: 0.8rem 2rem;
          }
        }

        .updateProfileBtn {
          font: 300 0.8rem "Montserrat";
          padding: 0.8;
        }
      }
    }
  }
}
